.header {
  background-color: black;
  color: white;
  height: 5rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}
.headerLeft {
  flex-grow: 1;
}
.headerRight {
  display: flex;
  margin-right: 2rem;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
}

.container {
}
.containerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;
  background-color: rgb(220, 230, 245);
  height: 10rem;
  padding-left: 1rem;
  border-bottom: 2px solid skyblue;
}
