.content{
    width: 800px;
    margin: auto;

}
.left-content{
    float: left;
    width:550px;
    padding:1%;

}
.right-content{
    float:right;
    width:200px;
    padding: 1.5%;

}

.profile{

    object-fit: contain;
}
.reviews{
    margin-top: 30px;
}
.image-profile{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    float:left;
    margin-right: 10px;
    
}
.image{
    width: 200px;
    height: 200px;
}
p{
    color:gray;
}
b{
    color:black;
}