h1, h2, h3, h4, p{font-family: 'Inconsolata', monospace;}
h1{font-size: 3rem;}
h2{font-size: 2.5rem;}
h3{font-size: 2rem;}
h4{font-size: 1.5rem;}
img{
    width:3.5rem;
    height:3.5rem;
    object-fit: cover;
}

.container{
    display:flex;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 5rem;
}


.centerItem{
    display:flex;
    flex-grow:1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0.1rem 0.1rem 0.2rem rgb(163, 163, 184);
}
.profileTitle{
    margin-top: 5rem;
}
.profileImage{
}
.profileImage{
    width:12rem;
    height:12rem;
    object-fit: cover;
    border-radius: 12%;
}
.profileText{
    text-align: center;
    white-space: normal;
}
.profileTextContent{
}


.rightItem{
    flex-grow: 5;
    text-align: center;
    box-shadow: 0.1rem 0.1rem 0.2rem rgb(163, 163, 184);
}
.title{
    margin-top: 3rem;
    margin-bottom: 5rem;
}
.menuAll{
    margin-bottom: 5rem;
}
.menu {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 3rem;
}
.food{
    width: 15em;
    margin-right: 1rem;
    margin-left: 1rem;
    /* border: 2px solid gray; */

}
.logos{
    width:5rem;
    height:5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    object-fit: cover;
}

@media screen and (max-width : 768px){
    p{
        font-size: 0.8rem;
    }
    h2{
        font-size:2.5rem;
    }
    h3{
        font-size:1.4rem;
    }
    h4{
        font-size:1.5rem;
    }
    .profileImage{
        width: 10rem;
        height: 10rem;
    }
    .logos{
        width: 5rem;
        height: 5rem; 
    }
}


